<header>
    <h1>Medals per Country</h1>
</header>
<!-- p>{{ (olympics$ | async)?.length }} data loaded</p -->
<section class="dashboardCounter">
    <p>Number of JOs <span>{{josNbr}}</span></p>
    <p>Number of countries <span>{{countriesNbr}}</span></p>
</section>
<section class="dashboardChart">
    @if (loading) {
        <h2>Loading ...</h2>
    }
    <app-olympic-pie
        [olympics]="(olympics$ | async)"
        (countrySelectEvent)="onCountrySelect($event)"
    ></app-olympic-pie>
</section>
<footer>
    @if (error) {
        <p class="errorMsg">{{errorMsg}}</p>
    }
</footer>