header, section {
    text-align: center;
}

h1 {
    display: inline-block;
    padding: 0.3em 0.5em;
    background-color: var(--olympic-green);
    color: white;
    border-radius: 0.4em;
    font-weight: normal;
    margin: 0.5em;
}

section.dashboardCounter {
    display: flex;
    flex-wrap: wrap;
}

section.dashboardCounter > p {
    flex: 1 1 150px;
    border: solid 0.2em var(--olympic-green);
    border-radius: 0.4em;
    margin: 1em;
    display: grid;
    padding: 0.5em;
    color: dimgray;

}

section.dashboardCounter > p > span {
    font-weight: bold;
    color: black;
}